* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(6, 112, 103);
    text-align: center;
}

p,
li {
    font-size: 18px;
}

.form-container {
    display: flex;
    place-items: center;
    min-height: 100vh;
}

form {
    width: 50%;
    display: grid;
    margin: 0 auto;
}